html,
body {
	height: 100%;
}

body.my-login-page {
	background-color: #f7f9fb;
	font-size: 14px;
}

.my-login-page .brand {
	width: 90px;
	height: 90px;
	overflow: hidden;
	border-radius: 50%;
	margin: 0 auto;
	margin: 40px auto;
	box-shadow: 0 0 40px rgba(0, 0, 0, .05);
}

.my-login-page .brand img {
	width: 100%;
}

.my-login-page .card-wrapper {
	width: 400px;
}

.my-login-page .card {
	border-color: transparent;
	box-shadow: 0 0 40px rgba(0, 0, 0, .05);
}

.my-login-page .card.fat {
	padding: 10px;
}

.my-login-page .card .card-title {
	margin-bottom: 30px;
}

.my-login-page .form-control {
	border-color: #2559A6;
	border-width: 1.4px;
}

.my-login-page .form-group label {
	width: 100%;
}

.my-login-page .btn.btn-block {
	padding: 12px 10px;
}

.my-login-page .margin-top20 {
	margin-top: 20px;
}

.my-login-page .no-margin {
	margin: 0;
}

.my-login-page .footer {
	margin: 40px 0;
	color: #888;
	text-align: center;
}

.mrg-card {
	margin-top: 10%
}

.card-admin {
	opacity: 0.8;
	background: white;
	border-radius: initial;
}

.copyright-1 {
	display: none
}

.copyright-2 {
	display: block
}

body.body-admin {
	background-size: 100% 100%;
	width: 45%;
}

@media (max-width: 600px) {
	.mrg-card {
		margin-top: 0%
	}

	.card-admin {
		opacity: 0.8;
		background: white;
		border-radius: initial;
		width: 130%;
		height: -webkit-fill-available;
	}

	.copyright-1 {
		display: block;
		font-size: smaller;
		background: white;
	}

	.copyright-2 {
		display: none;
		margin: 0px;
	}

	body.body-admin {
		background-image: none !important;
		width: 45%;
	}

	.my-login-page .footer {
		margin: 41px 0px;
		/* margin: 61px 0px 0px; */
		color: #888;
		text-align: center;
	}

	/* .my-login-page .card.fat {
		padding: 0px;
	} */
}

@media (max-width: 700px) {
	.mrg-card {
		margin-top: 0%
	}

	.card-admin {
		opacity: 0.8;
		background: white;
		border-radius: initial;
		width: 130%;
		height: -webkit-fill-available;
	}

	.copyright-1 {
		display: block;
		font-size: smaller;
		background: white;
	}

	.copyright-2 {
		display: none;
		margin: 0px;
	}

	body.body-admin {
		background-image: none !important;
		width: 77%;
	}

	.card-body {
		-ms-flex: 1 1 auto;
		flex: 0.6 0.6 auto;
		padding: 1.25rem;
	}

	.my-login-page .footer {
		/* margin: 41px 0px; */
		color: #888;
		text-align: center;
	}

	.my-login-page .card.fat {
		padding: 0px;
	}
}